@page "/tests/view/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3><b><u>View</u></b></h3>

<FormComponent test="test" Disabled="true" />

@code {
    [Parameter] public int id { get; set; }
    Test test = new Test();
    protected async override Task OnParametersSetAsync()
    {
        test = await
   _client.GetFromJsonAsync<Test>($"{Endpoints.TestsEndpoint}/{id}");
    }
}
